.biggest{
    width: 30%;
    position: relative;
    left: 170px;
    background: #DAF7F6;
}
.sub {
    background: #DAF7F6;
}
h2{
    color: #009F8A;
}
p{
    
}
.imagegr{
    position: relative;
    right: 12%;
    top: 20px;
    width: 335px;
}